@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: linear-gradient(to top, #111, #222);
    padding-bottom: 10px;
    width: 100%;
    height: 85px;
    border-bottom: solid 2px #804103;
}

.header .header__content {
    height: 100%;
}

.header .header__content h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    transform: translateY(-50%);
    top: 40%;
    text-align: center;
    color: #ccc;
}

.header .header__content div {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    text-align: center;
    font-size: 1.4em;
    color: #ccc;
}

.row {
    display: flex;
    width: 100%;
}

.cell {
    width: 50px;
    height: 50px;
}

.app {
    padding-top: 15px;
    min-height: calc(100vh - 85px);
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, #111, #333);
}

.app .gameBoard h2 {
    text-align: center;
    color: #ccc;
}

canvas {
    vertical-align: top;
    margin: 5px 20px 0 20px;
}

.choose__form {
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    border-radius: 2rem;
    background-color: gray;
    padding: 3rem 0;
}

.choose__form h1 {
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 1rem;
}

.choose__form p {
    width: 330px;
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: .4rem;
}

p:hover {
    background-color: #a7701f;
    border-radius: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50px;
    right: -100%;
    width: 600px;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-left: 10px solid darkgreen;
    box-shadow: 0 0 15px darkgreen;
    padding: 5px;
    transition: right ease .5s;
}

.popup__title {
    color: #333;
    font-size: 2.2em;
    letter-spacing: .1em;
    text-align: center;
}