<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./style.css">
  <title>Game Options</title>
</head>
<body>
  <div class="option-container">
    <div class="board">
      <div class="board__title unselectable"><h1>Настройки игры</h1></div>

      <div class="board__game-mode">

        <label class="switcher">
          <input type="checkbox" id="switcher">
          <span class="slider"></span>
        </label>
        <span>Против другого игрока</span>
      </div>
    </div>
  </div>
</body>
</html>